* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;

  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.major-container {
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5vh 10vw;
}

.header-container {
  background-color: #2265d4;
  border-radius: 25px 25px 0px 0px;
  width: 100%;
  height: fit-content;
  color: white;
  padding: 3vh 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation-container {
  display: flex;
  gap: 30px;
}

.navigation-link {
  color: white;
  font-size: 2vh;
}

.main-container {
  padding: 5vh 15vw;
}

.hero-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero-text {
  margin-top: 2vh;
}

.hero-botton {
  margin-top: 2vh;
  font-size: 2em;
  background-color: #2265d4;
  color: #fff;
  border: none;
  border-radius: 12px;
  width: fit-content;
  padding: 10px;
}

.hero-line {
  margin-top: 1vh;
  height: 2px;
  background-color: #2265d4;
  border-radius: 25px;
}

.cards-container {
  width: 100%;
  display: grid;
}

.card {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: fit-content;
  height: 200px;
}
